<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Antrian Layanan Saya</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Scroll ke bawah untuk refresh"
    refreshingSpinner="crescent"
    refreshingText="Refreshing..">
  </ion-refresher-content>
  </ion-refresher>

    <ion-list>
      <button ion-item *ngFor="let item of items.koleksi" (click)="tomboldetail(item)" (press)="tomboltahan(item)">
        {{ item.keperluan.nama_keperluan }}
        <ion-badge *ngIf="item.status_jadi == 1" color="pending" item-end>Proses</ion-badge>
        <ion-badge *ngIf="item.status_jadi == 2" color="primary" item-end>Selesai</ion-badge>
      </button>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab (click)="tombolcreate()">
        <ion-icon name="md-create" style="zoom:1.3"></ion-icon>
      </button>
    </ion-fab>
</ion-content>