<!--
  Generated template for the BelanjaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Belanja</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<p align="justify">Nikmati kemudahan berbelanja dengan harga lebih murah dari toko manapun. Semua produk dan harga dikelola oleh Bumdes. Warga cukup pesan barang lewat aplikasi, barang langsung diantar ke rumah lalu pembayaran sewaktu barang datang.</p>
<p align="center">Klik link di bawah untuk Download Aplikasi <br><h5><b>E-Commerce Bumdes</b></h5></p>
<img src="assets/img/playstore.png">
</ion-content>
