<!--
  Generated template for the ProfildesaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title style="margin-left: -12px">Profil Desa</ion-title>
  
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Nama Desa</ion-label>
    <ion-input type="text" nama="nama_desa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Kecamatan</ion-label>
    <ion-input type="text" name="kecamatan"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Kabupaten</ion-label>
    <ion-input type="text" name="kabupaten"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Provinsi</ion-label>
    <ion-input type="text" name="provinsi"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>NIP</ion-label>
    <ion-input type="number" name="nip"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nama Kades</ion-label>
    <ion-input type="text" nama="nama_kades"></ion-input>
  </ion-item>
</ion-content>
