<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usulan Warga</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Scroll ke bawah untuk refresh"
    refreshingSpinner="crescent"
    refreshingText="Refreshing..">
  </ion-refresher-content>
  </ion-refresher>

    <ion-list>
      <div *ngFor="let item of items">
        <button ion-item *ngFor="let item of items" (click)="tomboldetail(item)" (press)="tomboltahan(item)">
        {{ item.judul }}
        <ion-badge *ngIf="item.status == 1" color="pending" item-end>Direview</ion-badge>
        <ion-badge *ngIf="item.status == 2" color="primary" item-end>Diterima</ion-badge>
        <ion-badge *ngIf="item.status == 3" color="danger" item-end>Ditolak</ion-badge>
      </button>
      </div>
    </ion-list>
</ion-content>